---
import Layout from "../layouts/Layout.astro";
---

<Layout title="calculator">
  <div class="wrapper">
    <div class="calculato">
      <section class="screen">0</section>
      <section class="calc-bottons">
        <div class="calc-buottn-row">
          <button class="calc-button-symbol symbol">C</button>
          <button class="calc-button-symbol symbol">←</button>
          <button class="calc-button symbol symbol">-/+</button>
          <button class="calc-button-symbol calculation">÷</button>
        </div>
        <div class="calc-buottn-row">
          <button class="calc-button">7</button>
          <button class="calc-button">8</button>
          <button class="calc-button">9</button>
          <button class="calc-button-symbol calculation">×</button>
        </div>
        <div class="calc-buottn-row">
          <button class="calc-button">4</button>
          <button class="calc-button">5</button>
          <button class="calc-button">6</button>
          <button class="calc-button-symbol calculation">-</button>
        </div>
        <div class="calc-buottn-row">
          <button class="calc-button">1</button>
          <button class="calc-button">2</button>
          <button class="calc-button">3</button>
          <button class="calc-button-symbol calculation">+</button>
        </div>
        <div class="calc-buottn-row">
          <button class="calc-button big">0</button>
          <button class="calc-button">.</button>
          <button class="calc-button-symbol equal">=</button>
        </div>
      </section>
    </div>
  </div>
</Layout>

<style>
  /* common
  --------------- */
  * {
    margin: 0;
    padding: 0;
  }

  .wrapper {
    height: 100vh;
    background: linear-gradient(-225deg, #2cd8d5 0%, #c5c1ff 56%, #ffbac3 100%);
  }

  /* calculato */
  .calculato {
    width: 275px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.2);
    border: solid 3px rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    padding: 15px;
  }

  .screen {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 42px;
    text-align: right;
    background-color: #fff;
    border: solid 1px #fff;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .calc-buottn-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  .calc-buottn-row:last-of-type {
    margin-bottom: 0;
  }

  button {
    background-color: #fff;
    width: 60px;
    height: 60px;
    font-weight: bolder;
    font-size: 30px;
    border: solid 3px #fff;
    border-radius: 12px;
  }

  .big {
    width: 133px;
  }

  button:hover {
    opacity: 0.7;
  }

  button:active {
    background-color: #ffff66;
  }

  .symbol {
    background-color: #00ccff;
    border: solid 3px #00ccff;
    color: #fff;
  }

  .equal {
    background-color: #ff9999;
    border: solid 3px #ff9999;
    color: #fff;
  }

  .click {
    background-color: #ffff66;
    border: solid 3px #ffcc66;
    opacity: 0.7;
    color: #444444;
  }

  .calculation {
    background-color: #ffcc66;
    border: solid 3px #ffcc66;
    color: #fff;
  }
</style>

<script>
  let first_number = "";
  let second_number = "";
  let equal_number = "";
  let symbol = "";

  // 表示画面の値
  const screen = document.querySelector(".screen");

  // 数字・小数点・プラスマイナスをクリックした場合
  const calc_button_number = document.querySelectorAll(".calc-button");
  for (const calc_buttons_number of calc_button_number) {
    const screen = document.querySelector(".screen");
    calc_buttons_number.addEventListener("click", function () {
      if (symbol == "=" && calc_buttons_number.textContent.trim() == "-/+") {
        // プラスマイナス
        if (first_number[0] != "-") {
          // マイナス
          if (first_number.length == 0) {
            // 最初が0の場合
            first_number = "-";
            screen.textContent = first_number + "0";
          } else {
            first_number = "-" + first_number;
            screen.textContent = first_number;
          }
        } else {
          // プラス
          if (first_number == "-") {
            // 最初が0の場合
            first_number = "";
            screen.textContent = "0";
          } else {
            first_number = first_number.substring(1);
            screen.textContent = first_number;
          }
        }
      } else if (symbol == "") {
        first_number_add(calc_buttons_number);
      } else {
        second_number_add(calc_buttons_number);
      }
    });
  }

  // 1つ目の値(first_number)
  function first_number_add(calc_buttons_number) {
    switch (calc_buttons_number.textContent.trim()) {
      case "-/+":
        if (first_number[0] != "-") {
          if (first_number.length == 0) {
            first_number = "-";
            screen.textContent = first_number + "0";
          } else {
            first_number = "-" + first_number;
            screen.textContent = first_number;
          }
        } else {
          if (first_number == "-") {
            first_number = "";
            screen.textContent = "0";
          } else {
            first_number = first_number.substring(1);
            screen.textContent = first_number;
          }
        }
        break;
      // 小数点
      case ".":
        // すでに少数点がある場合は追加しない
        if (first_number.includes(".")) {
          return;
        } else {
          // 先頭が0の場合
          if (first_number.length == 0) {
            first_number = "0";
          }
          first_number += calc_buttons_number.textContent.trim();
          // 表示する際は文字でないといけない。数字だと.が表示されないから
          screen.textContent = first_number;
        }
        break;
      default:
        // 値の追加
        first_number += calc_buttons_number.textContent.trim();
        screen.textContent = first_number;
        break;
    }
  }

  // 2つ目の値(second_number) first_numberと9割同じ
  function second_number_add(calc_buttons_number) {
    const click_color = document.querySelector(".click");
    if (click_color) {
      click_color.classList.replace("click", "calculation");
    }
    // エラーが出た際
    if (first_number == "error") {
      first_number = "";
      first_number_add(calc_buttons_number);
    } else {
      switch (calc_buttons_number.textContent.trim()) {
        case "-/+":
          if (second_number[0] != "-") {
            if (second_number.length == 0) {
              second_number = "-";
              screen.textContent = second_number + "0";
            } else {
              second_number = "-" + second_number;
              screen.textContent = second_number;
            }
          } else {
            if (second_number == "-") {
              second_number = "";
              screen.textContent = "0";
            } else {
              second_number = second_number.substring(1);
              screen.textContent = second_number;
            }
          }
          break;
        case ".":
          if (second_number.includes(".")) {
            return;
          } else {
            if (second_number.length == 0) {
              second_number = "0";
            }
            second_number += calc_buttons_number.textContent.trim();
            screen.textContent = second_number;
          }
          break;
        default:
          second_number += calc_buttons_number.textContent.trim();
          screen.textContent = second_number;
          break;
      }
    }
  }

  // calc-button-bunberの要素の取得・clickした時
  const calc_button_symbol = document.querySelectorAll(".calc-button-symbol");
  for (const calc_buttons_symbol of calc_button_symbol) {
    calc_buttons_symbol.addEventListener("click", function () {
      const screen = document.querySelector(".screen");
      switch (calc_buttons_symbol.textContent.trim()) {
        // クリアボタン
        case "C":
          first_number = "";
          second_number = "";
          equal_number = "";
          symbol = "";
          screen.textContent = "0";
          const click_color = document.querySelector(".click");
          if (click_color) {
            click_color.classList.replace("click", "calculation");
          }
          break;
        // 1文字クリア
        case "←":
          if (symbol == "") {
            // firstの1文字クリア
            if (first_number.length < 2) {
              first_number = "";
              screen.textContent = "0";
            } else if (first_number.length == 2 && first_number[0] == "-") {
              // -の際の修正
              if (first_number[1] == "0") {
                first_number = "";
                screen.textContent = "0";
              } else {
                first_number = "-";
                screen.textContent = first_number + "0";
              }
            } else {
              first_number = first_number.slice(0, -1);
              screen.textContent = first_number;
            }
          } else if (second_number != "") {
            // secondの1文字クリア
            if (second_number.length < 2) {
              second_number = "";
              screen.textContent = "0";
            } else if (second_number.length == 2 && second_number[0] == "-") {
              if (second_number[1] == "0") {
                second_number = "";
                screen.textContent = "0";
              } else {
                second_number = "-";
                screen.textContent = second_number + "0";
              }
            } else {
              second_number = second_number.slice(0, -1);
              screen.textContent = second_number;
            }
          }
          break;
        default:
          if (symbol == "") {
            symbol = calc_buttons_symbol.textContent.trim();
            if (first_number != "") {
              const click_color = document.querySelector(".click");
              if (click_color) {
                click_color.classList.replace("click", "calculation");
              }
              calc_buttons_symbol.classList.replace("calculation", "click");
            }
          } else {
            calculation(symbol);
            if (first_number == "") {
              const click_color = document.querySelector(".click");
              if (click_color) {
                click_color.classList.replace("click", "calculation");
              }
              calc_buttons_symbol.classList.replace("calculation", "click");
            }
            symbol = calc_buttons_symbol.textContent.trim();
          }
      }
    });
  }

  // 四則演算
  function calculation(symbol) {
    switch (symbol) {
      case "+":
        first_number = Number(first_number) + Number(second_number);
        break;
      case "-":
        first_number = Number(first_number) - Number(second_number);
        break;
      case "×":
        first_number = Number(first_number) * Number(second_number);
        break;
      case "÷":
        if (first_number == "0" || second_number == "0") {
          first_number = "error";
        } else {
          first_number = Number(first_number) / Number(second_number);
        }
        break;
      case "=":
        return;
    }
    screen.textContent = first_number;
    first_number = String(first_number);
    second_number = "";
  }
</script>
